* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    height: 100vh;
    background-color: rgba(12, 22, 32, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: paint(bubblePaint);
}

.section__title {
    color: white;
}
